.img_links{
    height: 10rem;
}

.contacts_tab{
    padding-left: 20rem !important;
    padding-right: 20rem !important;
    text-align: center;
    padding: 4rem;
    margin-bottom: 10rem;
    margin-top: 5rem;

    .row{
        margin-bottom: 3rem;
    }
}