.albums{
    &__card{
        background-color: #fbfbfb;
        display: inline-block;
        position: relative;
        border-radius: 0.5rem;
        border: 1px solid rgba(0, 0, 0, 0.125);
        width: 30rem;
        height: 40rem;
        &:hover{
            cursor: pointer;
            .albums__thb{
                transform: scale(1.3);
            }
        }
    }
    &__container{
        overflow: hidden;
    }
    &__thb{
        transition: all 0.7s ease;
        height: 20rem;
    }
    &__title{
        padding: 5rem;
        text-align: center;
        font-size: 1.5rem;
        font-weight: bold;
    }
}

.photo{
    img{
        width: 25rem;
    }
}

.img_svg{
    width: 30rem;
    @include respond(phone) {
        width: 200px;
    }
}