.gallery{
    &__commands{
        i{
            padding-right: 5rem;
            opacity: 0.5;
            &:hover{
                cursor: pointer;
            }
        }
    }
    &__view{
        &-folders{
            div:hover{
                cursor: pointer;
            }
            div:hover >i, i:hover{
                cursor: pointer;
                color: $color-primary;
                transition:all 500ms ease;
            }
        }
    }
}