#presentation{

    height: 100vh;
    @media screen and (max-height: 750px) {
        height: 750px;
        background-attachment: inherit;
    }
}

.presentation{
    position: relative;
    &__logo img{
        width: 25rem;
        padding-bottom: 5rem;
    }
    &__text{
        color: $color-white;
        -webkit-animation: slide-in-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: slide-in-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
    &__block{
        width: 50rem;
        margin: 0;
        position: absolute;
        top: 60%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        @include respond(phone) {
            width: 70%;
            font-size: 1.7rem;
        }
        .btn{
            display: inline-block;
            @include respond(tab-port) {
                width: 100%;
                font-size: 1.7rem;
            }
        }
        .col-1-of-2{
            width: 50%;
        }
    }
    &__p{
        font-size: 1.8rem !important;
        margin-bottom: 0 !important;
        text-align: left;
        font-style: italic;
    }
    .col-1-of-2{
        margin-bottom: 0;
    }
    .row [class^="col-"]:not(:last-child) {
        margin-right: 0;
        margin-bottom: 3rem; 
    }
}