#presentation{
    background: linear-gradient(rgba(20,20,20, .6), rgba(20,20,20, .6)),url(/media/img/home/home_1.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    @media screen and (max-height: 540px) {
        height: 70rem;
    }
}

.presentation{
    position: relative;
    &__logo img{
        width: 25rem;
        padding-bottom: 5rem;
    }
    &__text{
        color: $color-white;
        padding-top: 15rem;
    }
    &__block{
        width: 50rem;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        @include respond(phone) {
            width: 70%;
        }
        .btn{
            display: inline-block;
            @include respond(tab-port) {
                width: 100%;
                font-size: 2rem;
            }
        }
    }
    &__p{
        margin-bottom: 0 !important;
    }
    .col-1-of-2{
        margin-bottom: 0;
    }
    .row [class^="col-"]:not(:last-child) {
        margin-right: 0;
        margin-bottom: 3rem; 
    }
}