.btn{
    &{
        border-radius: 100px;
        color: white;
        font-weight: 700;
        text-align: center;
        display: block;
        transition: 0.5s;
        text-transform: capitalize;
        border: none !important;
    }
    &:hover{
        cursor: pointer;
    }
    &__primary{
        background-color: $color-primary;
    }
    &__primary:hover{
        background-color: $color-secondary;
    }
    &__secondary{
        background-color: $color-secondary;
    }
    &__secondary:hover{
        background-color: $color-primary;
    }
    &__medium{
        width: 12rem;
        padding: 1.4rem;
        font-size: 1.5rem;
    }
    &__big{
        padding: 2.3rem;
        width: 17rem;
        font-size: 1.8rem;
    }
    &__go{
        transition: 0.5s;
        z-index: 1;
        display: block;
        height: 6rem;
        border-radius: 100px;
        margin-left: 50%;
        margin-right: 50%;
        margin-bottom: .5rem;
        font-size: 3rem;
        line-height: 1;
        color: $color-white;
        cursor: pointer;
        &>i{
            padding-top: 1.5rem;
        }
        @include respond(phone) {
            display: none;
        }
    }

    &__link{
        text-transform: lowercase;
        text-decoration: underline;
        &:hover{
            cursor: pointer;
        }
    }
    

    &__burger{
        &-home{
            position: absolute;
            color: $color-white;
            font-size: 5rem;
            right: 5rem;
            display:none;
            &>i:hover{
                cursor: pointer;
                color: $color-black;
                transition: all .4s;
            }
            @include respond(tab-land) {
                display: block;
            }  
        }
        position: absolute;
        color: $color-black;
        font-size: 5rem;
        right: 10rem;
        display:none;
        &>i:hover{
            cursor: pointer;
            color: $color-secondary;
            transition: all .4s;
        }
        @include respond(tab-land) {
            display: block;
        }
    }
}
