.pagination {
    display: inline-flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
}
.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: $color-primary;
    background-color: #fff;
    border: 1px solid #dee2e6;
}
.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: $color-primary;
    border-color: $color-primary;
}
.page-link:hover {
    z-index: 2;
    color: $color-secondary;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
}