.team{
    padding: 4rem;
    &-inner{
        @include respond(tab-port) {
            text-align: center;
        }
    }
    &__profile{
        width: 25rem;
        padding-top: 3rem;
        padding-bottom: 3rem;
        padding-left: 3rem;
        padding-right: 3rem;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        background-color: $color-grey;
        @include respond(tab-port) {
            display: inline-block;
        }
        @include respond(phone) {
            width: 80%;
        }
        &-role{
            text-transform: capitalize;
        }
        &-photo{
            border-radius: 100%;
            height: 9rem;
            width: 9rem;
            display: inline-block;
            font-size: 6rem;
            padding: 1rem;
            background: $color-white;
            background-position: center;
            background-size: 100%;
            background-repeat: no-repeat;
        }
        &-name{
            margin-top: 1.5rem;
            margin-bottom: .5rem;
            font-size: 1.5rem;
            font-weight: bold;
            text-transform: capitalize;
        }
        &-description{
            margin-top: 1.5rem;
            text-align: left;
            height: 15rem;
            overflow-y: auto;
            overflow-x: hidden;
        }
    }
}