.team{
    padding: 4rem;
    &-inner{
        @include respond(tab-port) {
            text-align: center;
        }
    }
    @include respond(tab-port) {
        .row:not(:last-child) {
            margin-bottom: 0;
        }
    }
    &__container{
        overflow: hidden;
        height: 10rem;
        width: 10rem;
        border-radius: 100%;
        display: inline-block;
    }
    &__profile{
        width: 25rem;
        padding-top: 3rem;
        padding-bottom: 3rem;
        padding-left: 3rem;
        padding-right: 3rem;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        background-color: $color-grey;
        @include respond(tab-port) {
            display: inline-block;
        }
        @include respond(phone) {
            width: 80%;
        }
        &:hover &-photo{
            transform: scale(1.3);
        }
        &-role{
            text-transform: capitalize;
        }
        &-photo{
            height: 100%;
            width: 100%;
            background-position: center;
            background-size: 100%;
            background-repeat: no-repeat;
            transition: all 0.7s ease;
        }
        &-name{
            margin-top: 1.5rem;
            margin-bottom: .5rem;
            font-size: 1.5rem;
            font-weight: bold;
        }
        &-description{
            margin-top: 1.5rem;
            text-align: left;
            height: 15rem;
            overflow-y: auto;
            overflow-x: hidden;
        }
    }
}