.team{
    padding: 4rem;
    &-inner{
        @include respond(tab-port) {
            text-align: center;
        }
    }
    &__profile{
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-left: 3rem;
        padding-right: 3rem;
        min-height: 30rem;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        background-color: $color-grey;
        @include respond(tab-port) {
            display: inline-block;
        }
        &-photo{
            border-radius: 100%;
            height: 9rem;
            width: 9rem;
            display: inline-block;
            margin-top: 1.5rem;
            font-size: 6rem;
            padding: 1rem;
            background: azure;
            background-position: center;
            background-size: 100%;
        }
        &-name{
            margin-top: 1.5rem;
            margin-bottom: .5rem;
            font-size: 1.5rem;
            font-weight: bold;
        }
        &-description{
            margin-top: 1.5rem;
            text-align: left;
            height: 9rem;
            overflow-y: scroll;
        }
    }
}